.imgfield {
    inset: none;
    margin-bottom: 4rem;
    font-weight: 300;
    border: 1px solid #070707;
}

.imgfield::file-selector-button {
  font-weight: 900;
  border: solid 0px;
  background-color: #070707;
  color: white;
  padding: 0.8em;
  border-radius: 0rem;
}
